.music {
  background-image: url(assets/bg_xs_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.songs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song:not(:first-child) {
  margin-top: var(--indent-xxl);
}


.song {
  margin: 0 var(--indent-m);
}

.cover {
  width: calc(100vw - var(--indent-m) * 3 );
  height: calc(100vw - var(--indent-m) * 3 );
  margin-left: auto;
  margin-right: auto;
}

.buy {
    display: flex;
    justify-content: center;
    margin-top: var(--indent-l);
}

.store {
  width: calc(100vw / 2 - var(--indent-m) * 3);
  height: calc((100vw / 2 - var(--indent-m) * 3) / 3);

  margin-left: var(--indent-m);
  margin-right: var(--indent-m);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



/* sm */
@media (min-width: 576px) {
  .cover {
    width: calc(100vw - var(--indent-xl) * 3);
    height: calc(100vw - var(--indent-xl) * 3);
  }
}



/* md */
@media (min-width: 768px) {
  .songs {
    flex-direction: row;
    justify-content: center;
  }

  .song:not(:first-child) {
    margin-top: 0;
  }

  .cover {
    width: 300px;
    height: 300px;
  }

  .store {
    width: 100px;
    height: 100px;
  }

}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {
  .music {
    background-image: url(assets/bg_xl_blur.jpg);
  }
}
