.music {
  background-image: url(assets/bg_xs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.covers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--indent-m) * -1);
}

.coverItem {
  width: calc(100vw / 2 - var(--indent-m) * 3 );
  height: calc(100vw / 2 - var(--indent-m) * 3 );
  margin: var(--indent-m);
}

.row {
  display: flex;
}

.shops {
  display: flex;
  justify-content: center;
  margin-top: var(--indent-l);
}

.shop {
  width: calc(100vw / 2 - var(--indent-m) * 3);
  height: calc((100vw / 2 - var(--indent-m) * 3) / 3);

  margin-left: var(--indent-m);
  margin-right: var(--indent-m);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}
