.header {
  width: 100vw;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding-left: 30px;
  padding-right: 30px;

  padding-bottom: 30px;
}

.bg {
  background-image: url('./assets/bg_mob_4--preview.jpg');
  background-position: center;
}

.title {
  color: white;
  font-size: 40px;
  margin-top: 30px;
  width: 100%;
}

.titleImg {
  width: 60%;
  max-width: 300px;
  height: 120px;
  margin-top: 60px;

  background: url('assets/title.png') no-repeat center;
  background-size: contain;
}

.btnTrailer {
  color: white;
  border: 1px white solid;
  padding: 10px 15px;

  font-size: 30px;
  /*visibility: hidden;*/
}

.awards {
  display: none;
}

.awardImg {
  height: 100px;
}

.awardImg:not(:first-child) {
  margin-left: 100px;
}

/* sm */
@media (min-width: 600px) {
  .btnTrailer {

  }
}

/* md */
@media (min-width: 960px) {
  .header {
    /*height: 80vh;*/
    justify-content: flex-end;
  }
  .awards {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnTrailer {
    display: none;
  }

  .bg {
    background-image: url('./assets/bg--preview.jpg');
    background-position: center top;
  }
}

/* lg */
@media (min-width: 1280px) {
  .header {
    height: 100vh;
  }
}

/* xl */
@media (min-width: 1920px) {
}
