.btn {
  color: red;

  background-image: url(../../assets/icons/btn_back_red.png);
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
  .btn {
    background-image: url(../../assets/icons/btn_back_white.png);
  }
}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}
