.video {
  background-image: url(assets/bg_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  --h: 150px;
}

.player {
  width: 100%;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
}

.scroll {
  margin-top: var(--indent-xl);
  max-width: var(--max-width-limit);
  margin-left: auto;
  margin-right: auto;
}


.item {
  min-width: calc(var(--h) * 1.5);
  width: calc(var(--h) * 1.5);
  height: var(--h);

  overflow: hidden;
  position: relative;
}

.item:not(:first-child) {
  margin-left: var(--indent-l);
}

.cover {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
}

.selected {
  filter: none;
}



/* sm */
@media (min-width: 576px) {
  .player {
    height: 400px;
  }
}



/* md */
@media (min-width: 768px) {
  .video {
    --h: 180px;
  }

  .player {
    height: 450px;
  }
}



/* lg */
@media (min-width: 992px) {
  .video {
    --h: 200px;
  }

  .player {
    height: 500px;
  }
}



/* xl */
@media (min-width: 1200px) {
  .video {
    --h: 220px;
  }

  .player {
    width: 1200px;
    height: 600px;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .video {
    --h: 220px;
  }

  .player {
    height: 700px;
  }
}
