.video {
  height: 400px;

  background-image: url(../../assets/bg/videos_mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left ;
}

.arrowL, .arrowR {
  width: 10vw;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowL {
  background-image: url(../../assets/icons/arrow_left.svg);
}

.arrowR {
  background-image: url(../../assets/icons/arrow_right.svg);
}

.wrap {
  margin-top: var(--indent-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex-grow: 1;
  margin-left: var(--indent-m);
  margin-right: var(--indent-m);
}

.player {}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}
