.btnHamMenu {
  color: red;

  background-image: url(../../assets/icons/btn_ham_menu_red.svg);
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
  .btnHamMenu {
    background-image: url(../../assets/icons/btn_ham_menu_white.svg);
  }
}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}
