.awards {
  margin-top: 20px;

  padding-bottom: 40px;
}

.title {
  font-size: 28px;
  text-align: center;
}

.wrap {
  margin: 20px auto 0 auto;
  text-align: center;
}

.item {
  width: 40%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row>img:not(:first-child) {
  margin-left: 30px;
}

.indentTop {
  margin-top: 40px;
}


/* sm */
@media (min-width: 600px) {
}

/* md */
@media (min-width: 960px) {
  .item {
    width: 200px;
  }

  .wrap {
    display: flex;
    flex-direction: column;
  }
}

/* lg */
@media (min-width: 1280px) {
}

/* xl */
@media (min-width: 1920px) {
}

