body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  background-color: #2A0505;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button, input, textarea {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

/* only for body */
/* use for hide elem, for a while ( */
/* see template html */
/* <body class="...hide-elem-before-critical hide-elem-before-important"> */
/* must be installed directly in the template  */
.hide-elem-before-critical {}
.hide-elem-before-important {}

/* added to improving loading */
.js-optimization {}
