.hamMenuItem {
  color: white;
  font-size: var(--font-size-ham-menu-item);
  font-weight: 500;
  letter-spacing: 15px;
}

.hamMenuItem:hover {
  text-decoration: underline;
}


.navMenuItem {
  color: white;
  font-size: var(--font-size-nav-menu-item);
  letter-spacing: 8px;
}

.navMenuItem:hover {
  text-decoration: underline;
}


.modTitle, .modTitleVideo {
  color: white;
  text-align: center;
  font-size: var(--font-size-mod-title);
  font-weight: 300;
  letter-spacing: 3px;
}

.modTitleVideo {
  letter-spacing: 12px;
}


.footerCopyright {
  color: #979797;
  font-size: 14px;
}


.textBio {
  font-size: 18px;
}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
  .navMenuItem {
    letter-spacing: 2px;
  }
}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}

