.item {
  text-decoration: #E4E4E4 underline;
  transition: color 200ms;

  font-size: calc(8vw);
  color: #d6d6d6;
  font-weight: bold;

  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-name: anim;
  animation-timing-function: ease-out;

  transform: translateY(-100px);
  opacity: 0;
}

.item:hover {
  color: white;
}

.item:focus {
  color: white;
}

@keyframes anim {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
  .item {
    text-decoration: none;
  }
}


