.musicPlayer {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 300ms all;
  transform: translateY(110%);
  visibility: hidden;
}

.controls {
  width: 100%;
}

.show {
  transform: translateY(0);
  visibility: visible;
}
