.navMenu {
  background-color: #7F1527;
}

.content {
  max-width: var(--max-width-limit);
  margin: auto;
  overflow: hidden;
}

.row {
  display: flex;
  padding: 3px;
}

.navMenu a {
  text-align: center;
  width: 50%;
  padding: var(--indent-s) var(--indent-s);
}


.divider {
  display: flex;
  justify-content: space-between;
  height: 1px;
}

.dividerLeft, .dividerRight, .dividerCenter {
  width: 10px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.dividerCenter {
  width: 50px;
  overflow: visible;
}

.dividerY {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 30px;
  margin-top: -15px;
}



/* sm */
@media (min-width: 576px) {}

/* md */
@media (min-width: 768px) {
  .navMenu {
    background-color: #D97676;
  }

  .divider {
    display: none;
  }

  .dividerY {
    display: none;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .navMenu a {
    margin-left: var(--indent-l);
  }

}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}

