.navMenu {
  background-color: #7F1527;

  padding: var(--indent-l) var(--indent-l);

}


.navMenu a {
  color: white;
}





/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}

