.musicCover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  min-width: 20px;
  min-height: 20px;

  width: 30%;
  height: 30%;
}

.play {
  background-image: url(../../assets/icons/player/btn_play_red.svg);
}

.pause {
  background-image: url(../../assets/icons/player/btn_pause_white.svg);
}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}
