.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cover {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
}

.bg {
  background-image: url(assets/bg/bg_xs_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.titleSite {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: 50vw;
  height: 25vw;

  margin-left: var(--indent-l);
  margin-top: calc(var(--indent-xl) - 10px);
  margin-bottom: calc(var(--indent-xl) - 5px);
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}


/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
  .titleSite {
    background-image: url(assets/title_md.png);

    width: calc(130px + 33vw);
    height: 30vw;
  }

  .titleSite>* {
    display: none;
  }

  .bg {
    background-image: url(assets/bg/bg_md_blur.jpg);
  }
}


/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}


/* xxl */
@media (min-width: 1400px) {
  .cover {
    padding-left: calc((100vw - var(--max-width-limit)) / 2 + var(--indent-m));
  }
}
