.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.cover {
  flex-grow: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
}

.bg {
  background-image: url(assets/bg/bg_xs_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.titleSite {
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(var(--indent-xl) - 10px);
  padding-left: var(--indent-l);
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.qrCode {
  position: absolute;
  bottom: var(--indent-m);
  right: var(--indent-m);

  width: 100px;
  height: 100px;
}

/* sm */
@media (min-width: 576px) {}



/* md */
@media (min-width: 768px) {
  .bg {
    background-image: url(assets/bg_b-w/bg_md_blurred.jpg);
    /*background-image: url(assets/bg/bg_md_blur.jpg);*/
  }

  .cover {
    justify-content: flex-end;
    padding-bottom: calc(var(--indent-xl) * 1);
  }

  .titleSite {
    margin-top: 150px;
  }

}



/* lg */
@media (min-width: 992px) {}



/* xl */
@media (min-width: 1200px) {}
