.gallery {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg {
  background-image: url(assets/bg_blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.photos {
  height: 200px;
  max-width: var(--max-width-limit);
  width: 100%;
}

.img {
  cursor: pointer;
}

.img:not(:first-child) {
  margin-left: var(--indent-m);
}


/* sm */
@media (min-width: 576px) {
  .photos {
    height: 300px;
  }
}



/* md */
@media (min-width: 768px) {
  .photos {
    height: 400px;
  }
}



/* lg */
@media (min-width: 992px) {
  .photos {
    height: 500px;
  }
}



/* xl */
@media (min-width: 1200px) {}
